// Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
$gutter: map-get($grid,gutter);

.clear:after,
.clear:before {
  display: table;
  content: ' ';
}

.clear:after {
  clear: both;
}

.row:after,
.row:before {
  display: table;
  content: '';
}

.row:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
  @if (map-get($grid,max-width) > 0) {
    max-width: map-get($grid,max-width);
  }
  @if (map-get($grid,fluid) == 1) {
    width: 100%;
  }
}

.container-fullscreen {
  width: 100%;
  max-width: auto;
}

.row {
  position: relative;
  margin-right: -$gutter;
  margin-left: -$gutter;
}

.column {
  position: relative;
  float: left;
  padding-right: $gutter;
  padding-left: $gutter;
}
$cols: map-get($grid,cols);
@for $i from 1 through $cols {
  .col-#{$i} {
    width: ($i / $cols) * 100%;
  }

  .push-#{$i} {
    left: ($i / $cols) * 100%;
  }

  .pull-#{$i} {
    left: - ($i / $cols) * 100%;
  }
}
@include screensize(large) {
   @if (map-get($grid,fluid) != 1){
    .container {
      max-width: map-deep-get($screen-sizes,large,min);
    }
  }
}
@include screensize(medium) {
   @if (map-get($grid,fluid) != 1){
    .container {
      max-width: map-deep-get($screen-sizes,large,min);
    }
  }
  @for $i from 1 through $cols {
    .col-#{$i}-medium {
      width: ($i / $cols) * 100%;
      position: relative;
      float: left;
      padding-right: $gutter;
      padding-left: $gutter;
    }

    .push-#{$i}-medium {
      left: ($i / $cols) * 100%;
    }

    .pull-#{$i}-medium {
      left: - ($i / $cols) * 100%;
    }
  }
}
@include screensize(tablet) {
   @if (map-get($grid,fluid) != 1){
    .container {
      max-width: map-deep-get($screen-sizes,large,min);
    }
  }
  @for $i from 1 through $cols {
    .col-#{$i}-tablet {
      width: ($i / $cols) * 100%;
      position: relative;
      float: left;
      padding-right: $gutter;
      padding-left: $gutter;
    }

    .push-#{$i}-tablet {
      left: ($i / $cols) * 100%;
    }

    .pull-#{$i}-tablet {
      left: - ($i / $cols) * 100%;
    }
  }
}
@include screensize(mobile) {
   @if (map-get($grid,fluid) != 1){
    .container {
      max-width: map-deep-get($screen-sizes,large,min);
    }
  }
  @for $i from 1 through $cols {
    .col-#{$i}-mobile {
      width: ($i / $cols) * 100%;
      position: relative;
      float: left;
      padding-right: $gutter;
      padding-left: $gutter;
    }

    .push-#{$i}-mobile {
      left: ($i / $cols) * 100%;
    }

    .pull-#{$i}-mobile {
      left: - ($i / $cols) * 100%;
    }
  }
}
