// Set CSS attribute if variable, else set default
@mixin setThe($attr,$var,$default:'*****') {
	@if($var) {
		#{$attr}: $var;
	}
	@else if($default != '*****') {
		#{$attr}: $default;
	}
}

// Screen sizes
@mixin screensize($var) {
	@if $var == large {
		@media only screen and ( min-width: map-deep-get($screen-sizes, large, max) ) { @content; }
	}
	@else if $var == medium {
		@media only screen and ( max-width: map-deep-get($screen-sizes, medium, max) ) { @content; }
	}
	@else if $var == tablet {
		@media only screen and ( max-width: map-deep-get($screen-sizes, tablet, max) ) { @content; }
	}
	@else if $var == mobile {
		@media only screen and ( max-width: map-deep-get($screen-sizes, mobile, max) ) { @content; }
	}
}

// Font resizer
@mixin font-responsive($orig) {
	@each $screen in $screen-sizes {
		$screen-name: nth($screen,1);
		@if(map-deep-get($fonts,headings,resize,#{$screen-name})) {
			@include screensize($screen-name) {
				$factor: map-deep-get($fonts,headings,resize,#{$screen-name});
				font-size:$orig * $factor;
			}
		}
	}
}

// Hoverer
@mixin hoverer($class:hoverer,$hover-duration:1s,$hover-type:opacity,$hover-start:0,$hover-end:1) {
  .#{$class} {

		position: relative;
		height:100%;
		width:100%;

    .hover-state {
      #{$hover-type}: $hover-start;
      visibility: hidden;
			position: absolute;
			top:0px;
			left:0px;
			transition: visibility 0s $hover-duration, $hover-type $hover-duration;
    }

    &:hover {
      .hover-state {
        #{$hover-type}: $hover-end;
        transition: visibility 0s, $hover-type $hover-duration;
				visibility: visible;
      }
    }
  }
}
