@mixin header-navigation() {
  //
  //      .'  `'._.'`  '.
  //     |  .--;   ;--.  |
  //     |  (  /   \  )  |		Mobile
  //      \  ;` /^\ `;  /		  Navigation
  //       :` .'._.'. `;
  //       '-`'.___.'`-'
  //
  header nav {
    display: block;

    ul {

      list-style: none;
      padding:0px;

      li {
        display:inline-block;
        margin-right:map-get($grid,gutter);

        a {
          display: block;
          padding: 5px;
        }
      }

      @if (map-get($header-navigation,dropDown) == 0) {
        ul.sub-menu { display:none; }
      }
    }
  }
}
