@mixin mobile-navigation() {
  //
  //      .'  `'._.'`  '.
  //     |  .--;   ;--.  |
  //     |  (  /   \  )  |		Mobile
  //      \  ;` /^\ `;  /		  Navigation
  //       :` .'._.'. `;
  //       '-`'.___.'`-'
  //

  $slide-navigation-width: 75vw;

  .mobile-navigation-toggle, .mobile-navigation-close {
    display: none;
    z-index:50;
    cursor: pointer;
    @include screensize(map-get($mobile-navigation,breakScreen)) {
      display: inline-block;
    }
  }

  $nav-close-button-size:50px;

  .mobile-navigation-close {
    position: fixed;
    font-weight: 300;
    @include setThe(font-family, unquote(map-deep-get($fonts,main,family)), sans-serif);
    @include setThe(color, map-get($colors,link), #eee);
    top:0px;
    left:-0vw;
    width:$nav-close-button-size;
    height:$nav-close-button-size;
    line-height:$nav-close-button-size;
    margin-left:-$nav-close-button-size;
    background:none;
    border:0px;
    padding:0px;
    transition:left .7s ease-out;
    @include setThe(font-size,map-get($font-sizes,large),16px);
  }

  @include screensize(map-get($mobile-navigation,breakScreen)) {

    header nav {

      &:before {
        position: fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        background-color:rgba(0,0,0,0.7);
        z-index:40px;
        content:'';
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s 0.3s ease-out, visibility 0s 0.7s;
      }

      ul {
        position: fixed;
        height: 100vh;
        width:$slide-navigation-width;
        left:-$slide-navigation-width;
        top:0px;
        margin:0px;
        padding-top:map-get($grid,gutter) * 2;
        transition:left .7s ease-out;
        z-index:30;
        @include setThe(background-color,map-get($colors,mobile-navigation-bg),#fff);

        li {
          display: block;
          width:100%;

          // Resizer
          $menuFontSize: getThe(map-get($font-sizes,xxl),42px);
          @if(map-deep-get($fonts,headings,resize,mobile)) {
            $menuFontSize: getThe(map-get($font-sizes,xxl),42px) * map-deep-get($fonts,headings,resize,mobile);
          }

          a {
            width:100%;
            padding:0px map-get($grid,gutter) * 2;
            font-size: $menuFontSize;
            font-weight:700;
            line-height:1.2;
          }
        }
      }
    }

    header nav.open {

      &:before {
        opacity: 1;
        visibility: visible;
        transition: opacity .3s ease-out;
      }

      ul {
        left:0vw;
      }

      .mobile-navigation-close {
        left:$slide-navigation-width;
      }
    }

  }
}
