$font-sizes: (
  xxl: 42px,
  xl: 36px,
  large: 28px,
  medium: 20px,
  normal: 16px,
  small: 10px,
  line-height-factor: 1.2
);

$fonts: (
  main: (
    family: "'Roboto', sans-serif", // required
    weight: 300, // required
    size: map-get($font-sizes,normal), // required
    color: map-get($colors,font) // required
  ),
  headings: (
    weight:700,
    lineheight: 1,
    resize: (
      mobile: 0.8
    )
  ),
  links: (
    color: map-get($colors,font)
  )
);
