// Import all button types
@import "types/outline";
@import "types/background";

// Button vars
$button-colors: map-get($button,colors);
$button-main-color: nth($button-colors,1);
$button-border-radius: map-get($button,radius);

.button {
  padding: map-get($button,padding);
  font-size: map-get($button,font-size);
}

@if(map-get($button,type) == outline) { @include button-outline; }
@if(map-get($button,type) == background) { @include button-background; }
