@function map-deep-get($map, $keys...) {
    @each $key in $keys {
      @if(map-get($map, $key)) {
        $map: map-get($map, $key);
      }
      @else {
        @return null;
      }
    }
    @return $map;
}
@function getThe($var,$default:'*****') {
	@if($var) {
		@return $var;
	}
	@else if($default != '*****') {
		@return $default;
	}
}
