$footer-height:140px;
$footer-height-compact:70px;
$header-height:180px;
$header-height-compact:70px;
$logo-height: 80px;

.content-wrapper {
  padding-bottom:$footer-height + (4 * map-get($grid,gutter) );
  padding-top:$header-height + (4 * map-get($grid,gutter) );
  min-height:100vh;
  position: relative;
  @include screensize(map-get($mobile-navigation,breakScreen)) {
    padding-top:$header-height-compact + (2 * map-get($grid,gutter) );
    padding-bottom:$footer-height-compact + (2 * map-get($grid,gutter) );
  }
}

.m-scene {

  .scene-element {
    animation-duration: 1s;
    transition-timing-function: ease-out;
    animation-fill-mode: both;
  }

  /** An element that fades in */
  .scene-element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene-element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene-element--fadeinright {
    animation-name: fadeInRight;
  }

}

a {
  color:map-get($colors,fontLight);
  text-decoration: none;
}

header {

  height:$header-height;

  position: absolute;
  top:0px;
  width:100%;
  display: table;
  background-color:#fff;
  z-index: 20;

  .table-wrapper {

    .container {

      a {
        color:map-get($colors,font);

        &:hover {
          color:map-get($colors,linkHover);
        }
      }

    }

  }

  @include screensize(tablet) {
    height:$header-height-compact;
    position: fixed;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  }
}

.logo {
  display:inline-block;
  float: right;
  text-align: right;
  height:$logo-height;
  width:100%;

  img { height: 100%; width: auto; }

  @include screensize(getThe( map-get($mobile-navigation,breakScreen) , mobile )) {
    height:33px;
    width:auto;
    display: inline-block;
  }
}

.news-preview {

  $linedistance: 10px;
  $imageoverlap: 100px;

  position: relative;

  h1 {
    margin:0px;
  }

  .content {
    p {
      font-size: map-get($font-sizes,large);
      @include font-responsive(map-get($font-sizes,large));
    }
  }

  .readmore-wrapper {

    .readmore {

      margin-top:map-get($grid,gutter) * 2;
      position:relative;
      z-index: 1;

      // Bar with white bottom
      &:before {
        content: " ";
        position: absolute;
        display: block;
        top: $linedistance;
        width:100%;
        height:$imageoverlap;
        background-color: #fff;
        border-top:1px solid map-get($colors,font);
        z-index:-1;
        transform:translateZ(-1px);
      }

      a {
        padding-right:map-get($grid,gutter);
        background-color:map-get($theme,background);
        display: inline-block;
        z-index:2;
        color:map-get($colors,font);

        &:hover {
          color:map-get($colors,linkHover);
        }
      }

    }

    @include screensize(tablet) {
      top:($linedistance + $imageoverlap/2) * -1;
    }
  }

  .image {
    position:absolute;
    bottom: ($linedistance + $imageoverlap/2) * -1;
    right:0px;

    @include screensize(tablet) {
      position: relative;
      bottom:0px;
    }
  }

}

.news-full {
  overflow:hidden;
}

.team-members {
  @include hoverer(hoverer,0.5s);
}

footer {

  position: absolute;
  bottom: 0px;
  width:100%;
  display:table;
  height:$footer-height;

  .table-wrapper {
      .tagline {
        font-weight:bold;
        font-size: map-get($font-sizes,medium);
        letter-spacing: 0rem;
      }

      .copy {
        text-align: right;
        color: map-get($colors,fontLight);
        line-height: map-get($font-sizes,medium);
      }
  }

  @include screensize(getThe( map-get($mobile-navigation,breakScreen) , mobile )) {
    height:$footer-height-compact;

    * { text-align: center !important; }
  }
}
