.team-members {
  margin-top:- map-get($grid,gutter);
  margin-bottom:- map-get($grid,gutter);
  .team-member {
    padding-top:map-get($grid,gutter);
    padding-bottom:map-get($grid,gutter);
    img {
      width:100%;
      height:auto;
    }
  }
}
