@mixin button-background {
    .button {
        background: map-get($button-main-color,bg);
        color: map-get($button-main-color, font);
        border:0px;
        @if($button-border-radius > 0) {
          border-radius: $button-border-radius;
        }
    }
    @each $button-color in $button-colors {
        .button.button-#{map-get($button-color, name)} {
            background-color: #{map-get($button-color, bg)};
            color: #{map-get($button-color, font)};
        }
    }
}
