@mixin button-outline {
    .button {
        background: none;
        border: map-get($button,outline-width) solid map-get($button-main-color,bg);
        @if($button-border-radius > 0) {
          border-radius: $button-border-radius;
        }
    }
    @each $button-color in $button-colors {
        .button.button-#{nth($button-color, 1)} {
            color: #{nth($button-color,2)};
            border-color: #{nth($button-color,2)};
        }
    }
}
