// Variables
// ---------------------
$table-header-weight: 700;
$table-cell-padding: map-get($grid,gutter);
$table-bg: map-get($colors,background);
$table-bg-accent:               #f5f5f5;
$table-bg-hover:                rgba(0,0,0,.12);
$table-bg-active:               $table-bg-hover;
$table-border: 1px solid map-get($colors,font);

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: map-get($grid,gutter) * 2;
  background-color: $table-bg;
  border-collapse: collapse;
  td, th {
    text-align: left;
    padding: $table-cell-padding;
    vertical-align: top;
    transition: all .3s ease;
    border: $table-border;
  }
  th {
    font-weight: $table-header-weight;
    vertical-align: bottom;
  }
}


table.table-responsive {

  @include screensize(mobile) {

    // Tighten up spacing
    margin-bottom: 0;
    background-color: transparent;
    > thead,
    > tfoot {
      display: none;
    }

    > tbody {
      display: block;

      > tr {
        display: block;
        border: $table-border;
        border-radius: 2px;
        margin-bottom: $table-cell-padding;

        > td {
          background-color: $table-bg;
          display: block;
          vertical-align: middle;
          text-align: right;
        }
        > td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: inherit;
          font-weight: $table-header-weight;
        }
      }
    }
  }
}
