$lhf: map-get($font-sizes,line-height-factor);

html,body {
  font-family: #{map-deep-get($fonts,main,family)};
  font-weight: #{map-deep-get($fonts,main,weight)};
  font-size: #{map-deep-get($fonts,main,size)};
  line-height: $lhf;
  color: #{map-deep-get($fonts,main,color)};
}

//////////////////////
// Headings
//////////////////////
h1, h2, h3, h4, h5, h6 {
  @include setThe( font-weight , map-deep-get($fonts,headings,weight), 700 );
  @include setThe( font-family , map-deep-get($fonts,headings,family) );
  @include setThe( font-size , map-deep-get($fonts,headings,size) );
  @include setThe( line-height , map-deep-get($fonts,headings,lineheight) );
}
@for $i from 1 through 6 {
  $fsize: nth(nth($font-sizes,$i),2);

  h#{$i} {

    @if ( map-deep-get($fonts,h#{$i},size) ) { $fsize: map-deep-get($fonts,h#{$i},size); }

    @include setThe( font-weight , map-deep-get($fonts,h#{$i},weight) );
    @include setThe( font-family , map-deep-get($fonts,h#{$i},family) );
    @include setThe( font-size , $fsize );
    @include setThe( line-height , map-deep-get($fonts,h#{$i},lineheight) );

    /* Responsive resizes */
    @include font-responsive($fsize)
  }
}

//////////////////////
// Links
//////////////////////

/* LNKCLR */
a {
  @include setThe( color , map-get($colors,link) , '#fefefe' );
}
