//
//      .'  `'._.'`  '.
//     |  .--;   ;--.  |
//     |  (  /   \  )  |		BRETZEL
//      \  ;` /^\ `;  /		  Components
//       :` .'._.'. `;
//       '-`'.___.'`-'
//

/****
* Header Navigation
****/
$header-navigation: (
  active: 1, // 1: active, 0: not active
  type: horizontal, // horizontal, vertical
  hideOnMobile: 1,
  dropDown: 0 // 0, simple, megamenu
);


/****
* Mobile Navigation
****/
$mobile-navigation: (
  active: 1, // 1: active, 0: not active
  type: slideIn, // dropdown, slidein, fadein
  buttonStyle: hamburger, // hamburger, text
  breakScreen: tablet // at which screen should it break?
);

/****
* Tabs
****/
$tabs: (
  active: 1, // 1: active, 0: not active
);


// Imports
@import 'components/header-navigation';
@if(map-get($header-navigation,active) == 1) { @include header-navigation; };

@import 'components/mobile-navigation';
@if(map-get($mobile-navigation,active) == 1) { @include mobile-navigation; };

@import 'components/tabs';
@if(map-get($tabs,active) == 1) { @include tabs; };
