//
//      .'  `'._.'`  '.
//     |  .--;   ;--.  |
//     |  (  /   \  )  |		BRETZEL
//      \  ;` /^\ `;  /		  Settings
//       :` .'._.'. `;
//       '-`'.___.'`-'
//

$theme: (
  background: #fff,
);

$screen-sizes: (
  large: (max: 1200),
  medium: (max: 100px),
  tablet: (max: 900px),
  mobile: (max: 700px)
);

$grid: (
  fluid: 1,
  max-width:1300px,
  gutter: 15px,
  cols: 12
);

$button: (
  type: background, // outline, background
  outline-width: 3px,
  radius: 3px,
  padding:7px 15px,
  font-size: map-get($font-sizes,normal),
  colors: ( // first color will be set as main color
    ( name: black, bg: #000, font: #fff ),
    ( name: red, bg: #ff0000, font: #00ff00 )
  )
);
